<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>TestResults/</ResultsDirectory>
    <CoverletOutput>TestResults/</CoverletOutput>
    <CoverletOutputFormat>cobertura</CoverletOutputFormat>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <!-- Output file name and format -->
          <Format>cobertura</Format>
          <OutputPath>TestResults/coverage.cobertura.xml</OutputPath>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
